<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Save beautiful flower images to your photo library</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Add flower images to your photo library collection</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Get notified when your daily flower blooms</string>
</dict>
</plist>
